@font-face {
    font-family: Beleren;
    src: url('../fonts/Beleren-Bold.ttf');
    src: url('../fonts/BelerenSmallCaps.ttf');
    src: url('../fonts/JaceBeleren-Bold.ttf');
    src: url('../fonts/MPlantin-Bold.ttf');
    src: url('../fonts/MPlantin-Italic.ttf');
    src: url('../fonts/MPlantin.ttf');
}
nav ul{
    background-color:  rgba(0, 0, 0, 0.76);
}

nav ul li {
    background-color: rgb(51, 44, 58);
    transition: all 1s;
    padding: 20px;
    
    display: inline-block;

}
nav ul li:hover{
    background-color: rgb(88, 54, 121);
    padding: 25px;
}

li a {
    font-size: larger;   
    font-family: Beleren, Tahoma, serif;
    color: white;
    text-decoration: none;
}